page-attendance {
   .front{
    height:50px;
    width:5px;
    }
    ion-card {
    position: relative;
    text-align: center;
    }
  .content {
    position: absolute;
    top: 25%;
    font-size: 15px;
    width: 100%;
    color: #B12A30;
    }
    .attd{
    color:black;
    }
}
